body {
    margin:0;
}

.alpha,
.beta,
.gamma {
    visibility: hidden;
}

li {
    display: inline-block;
    border: solid 1px black;
    cursor: pointer;
    padding: 1% 1%;
    width: 10%;
}

.lettersContainer {
    display: flex;
    justify-content: space-around;
}

.generatorContainer {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.imgGrec {
    width: 10%;
    height: 10%;
}

